* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  height: 18vmin;
  width: 18vmin;
  border-radius: 1rem;
  border: none;
  box-shadow: 0 0 1rem rgba(0, 0, 0, 1);
  font-size: 8vmin;
  color: #ff0505;
  background-color: #ffffff;
}
#reset-btn {
  margin-top: 20px;
  padding: 10px;
}
#new-btn {
  margin-bottom: 20px;
  padding: 10px;
}
.msg-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 4rem;
}
.hide {
  display: none;
}
